.head1{
    
        font-family: "Lacquer", system-ui;
        text-align: center;
      
      
}

.head2
     {
        font-family: "Bungee Spice", sans-serif;
        text-align: center;
      }
      


.head3
     {
        font-family: "Sevillana", cursive;
        text-align: center;
      }
      

button{
    font-family: "Bungee Spice", sans-serif;
    
}

