body{
    background-color: red;
}

@media screen and (max-width:600px) and (min-width:400px){
    
    body{
        background-color:greenyellow;
        
    }
}

@media screen and (max-width: 400px){
    body{
        background-color: lightcoral;
    }
    
    
}


